.scroll-back-to-top-button {
  position: fixed;
  bottom: -10%;
  right: 4%;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 50%;
  background-color: var(--light-blue);
  color: var(--white);
  border: 1px solid var(--black);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.scroll-back-to-top-button.show {
  bottom: 10%;
}
