.bio {
    height: 20vh;
}
.bio .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bio .profile img {
    width: 20rem;
    margin-top: -6rem;
    border-radius: 50%;
    border: 3px solid var(--white);
}


.bio .profile .information {
    display: flex;
    margin-right: auto;
    margin-left: 4rem;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1rem;
}

.bio .profile .information .role {
    font-weight: 500;
    color: var(--gray);
}

.bio .profile .social-links {
    display: flex;
    font-size: 2.5rem;
    gap: 2rem;
}

.bio .profile .github-button {
    background-color: var(--dark-blue);
    padding: 1rem 4rem;
    font-size: 1.6rem;
    border-radius: 12px;
    transition: background .2s ease-in-out;
}

.bio .profile .github-button:hover {
    background: var(--light-blue);
}

.bio .about-me {
    margin-top: 5rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bio .about-me p {
    width: 100rem;
}