header {
  height: 35vh;
  padding: 2rem 4rem;
  color: var(--white);
  background-color: var(--dark-blue);
  font-size: 1.8rem;
}

.nav-bar {
  width: 120rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.nav-bar .list {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  gap: 4rem;
}

.nav-bar .list .item {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.nav-bar .list .item a {
  transition: 0.2s color;
}

.nav-bar .list .item a:hover {
  color: var(--light-blue);
}

@media (max-width: 1250px) {
  header {
    font-size: 1.6rem;
    padding-inline: 2rem;
  }

  .nav-bar {
    width: 68rem;
  }

  .nav-bar .list {
    gap: 2rem;
  }
}

@media (max-width: 760px) {
  header {
    height: 25vh;
  }

  .nav-bar {
    width: 50rem;
  }

  .nav-bar h1 {
    margin-bottom: 2rem;
  }

  .nav-bar .list .item a {
    padding: 4px;
  }
}

@media (max-width: 760px) {
  header {
    height: 25vh;
  }

  .nav-bar {
    width: 50rem;
  }

  .nav-bar h1 {
    margin-bottom: 2rem;
  }

  .nav-bar .list {
    gap: 1rem;
  }

  .nav-bar .list .item a {
    padding: 4px;
  }
}
