:root {
  --white: #f3f3f3;
  --black: #070d12;
  --gray: #b8bbc5;
  --dark-blue: #23395b;
  --light-blue: #0094fb;
  --background: #161925;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--white);
  list-style: none;
  text-decoration: none;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  max-width: 120rem;
  display: grid;
  justify-content: center;
  margin: 0 auto;
}
